In [139]:
import pandas as pd
from sklearn.tree import DecisionTreeRegressor
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score
import statistics
import matplotlib.pyplot as plt
import math

In [140]:
df = pd.read_csv('../data/melb_data.csv')
pd.set_option('display.max_columns', None)
y = df['Price']

# =============================================================

In [141]:
temp = []
for col in df.columns:
    for row in df[col]:
        if isinstance(row, str):
            pass
        else:
            if math.isnan(row):
                if col not in temp:
                    temp.append(col)
print(temp)

['Car', 'BuildingArea', 'YearBuilt', 'CouncilArea']

In [142]:
df.drop(['CouncilArea', 'BuildingArea', 'Price', 'Car'], inplace=True, axis=1)

In [143]:
df['YearBuilt'].fillna(0000, inplace=True)

# =============================================================

In [144]:
dummy_vars = pd.get_dummies(df[['Type','Regionname', 'YearBuilt']])
other_vars = df[['Rooms', 'Bedroom2', 'Bathroom', 'Landsize', 'Propertycount']]
X = pd.concat([other_vars, dummy_vars], axis=1)
X

,Rooms,Bedroom2,Bathroom,Landsize,Propertycount,YearBuilt,Type_h,Type_t,Type_u,Regionname_Eastern Metropolitan,Regionname_Eastern Victoria,Regionname_Northern Metropolitan,Regionname_Northern Victoria,Regionname_South-Eastern Metropolitan,Regionname_Southern Metropolitan,Regionname_Western Metropolitan,Regionname_Western Victoria
0,2,2.0,1.0,202.0,4019.0,0.0,1,0,0,0,0,1,0,0,0,0,0
1,2,2.0,1.0,156.0,4019.0,1900.0,1,0,0,0,0,1,0,0,0,0,0
2,3,3.0,2.0,134.0,4019.0,1900.0,1,0,0,0,0,1,0,0,0,0,0
3,3,3.0,2.0,94.0,4019.0,0.0,1,0,0,0,0,1,0,0,0,0,0
4,4,3.0,1.0,120.0,4019.0,2014.0,1,0,0,0,0,1,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
13575,4,4.0,2.0,652.0,7392.0,1981.0,1,0,0,0,0,0,0,1,0,0,0
13576,3,3.0,2.0,333.0,6380.0,1995.0,1,0,0,0,0,0,0,0,0,1,0
13577,3,3.0,2.0,436.0,6380.0,1997.0,1,0,0,0,0,0,0,0,0,1,0
13578,4,4.0,1.0,866.0,6380.0,1920.0,1,0,0,0,0,0,0,0,0,1,0
13579,4,4.0,1.0,362.0,6543.0,1920.0,1,0,0,0,0,0,0,0,0,1,0

In [145]:
model = DecisionTreeRegressor()

In [148]:
x = 0
temp = []
for i in range(1000):
    Xt, Xv, yt, yv = train_test_split(X, y, test_size=.6, random_state=x)
    model.fit(Xt, yt)
    temp.append(model.score(Xv, yv))
    x += 1

print(statistics.mean(temp))

0.3717503617513486