In [275]:
import pandas as pd
from sklearn import tree
import numpy as np
from sklearn.tree import DecisionTreeRegressor

In [276]:
df = pd.read_csv('../data/Cars93.csv')

In [277]:
#what do we want to predict
y = df['Wheelbase']

In [278]:
#shows which values may heavily correlate with each other (collinearity)
XX = df._get_numeric_data()
for col in XX:
    if XX[col].isnull().sum() > 0:
        XX[col].fillna(XX[col].mean(), inplace = True)
vif_data = pd.DataFrame()
vif_data["feature"] = XX.columns
vif_data['VIF'] = [variance_inflation_factor(XX.values, i) for i in range(len(XX.columns))]
vif_data_sorted = vif_data.sort_values(['VIF'])
print(vif_data_sorted)

               feature            VIF
0           Unnamed: 0       5.022127
17        Luggage.room      70.374126
9         Rev.per.mile      91.122971
6           EngineSize     100.038878
11          Passengers     117.058722
7           Horsepower     128.618276
10  Fuel.tank.capacity     181.583424
16      Rear.seat.room     255.521255
4             MPG.city     315.108029
8                  RPM     341.775048
5          MPG.highway     520.308526
15         Turn.circle     543.369873
18              Weight     683.407680
12              Length     969.105557
14               Width    1790.747869
13           Wheelbase    2222.309173
1            Min.Price  131292.094432
3            Max.Price  212769.911383
2                Price  671203.076961

In [279]:
df.isna().sum()

Unnamed: 0            0
Manufacturer          0
Model                 0
Type                  0
Min.Price             0
Price                 0
Max.Price             0
MPG.city              0
MPG.highway           0
AirBags               0
DriveTrain            0
Cylinders             0
EngineSize            0
Horsepower            0
RPM                   0
Rev.per.mile          0
Man.trans.avail       0
Fuel.tank.capacity    0
Passengers            0
Length                0
Wheelbase             0
Width                 0
Turn.circle           0
Rear.seat.room        0
Luggage.room          0
Weight                0
Origin                0
Make                  0
dtype: int64

#Practice

In [280]:
from statsmodels.stats.outliers_influence import variance_inflation_factor

In [281]:
df.columns

Index(['Unnamed: 0', 'Manufacturer', 'Model', 'Type', 'Min.Price', 'Price',
       'Max.Price', 'MPG.city', 'MPG.highway', 'AirBags', 'DriveTrain',
       'Cylinders', 'EngineSize', 'Horsepower', 'RPM', 'Rev.per.mile',
       'Man.trans.avail', 'Fuel.tank.capacity', 'Passengers', 'Length',
       'Wheelbase', 'Width', 'Turn.circle', 'Rear.seat.room', 'Luggage.room',
       'Weight', 'Origin', 'Make'],
      dtype='object')

In [282]:
dummyVars = pd.get_dummies(['DriveTrain', 'Man.trans.avail', 'Origin', 'AirBags', 'Manufacturer', 'Cylinders','Type'])

In [283]:
dummyVars

   AirBags  Cylinders  DriveTrain  Man.trans.avail  Manufacturer  Origin  Type
0        0          0           1                0             0       0     0
1        0          0           0                1             0       0     0
2        0          0           0                0             0       1     0
3        1          0           0                0             0       0     0
4        0          0           0                0             1       0     0
5        0          1           0                0             0       0     0
6        0          0           0                0             0       0     1

In [284]:
df.drop(['Min.Price', 'Max.Price', 'MPG.city', 'MPG.highway','Rev.per.mile','DriveTrain', 'Man.trans.avail', 'Origin', 'AirBags', 'Manufacturer', 'Cylinders','Type', 'Wheelbase','Model', 'Unnamed: 0'],inplace =True,axis='columns')

In [285]:
X = df.columns

In [286]:
df.drop('Unnamed: 0', inplace =True,axis='columns')
#drop column Unnamed: 0

KeyError: "['Unnamed: 0'] not found in axis"

In [ ]:
df

,Price,EngineSize,Horsepower,RPM,Fuel.tank.capacity,Passengers,Length,Width,Turn.circle,Rear.seat.room,Luggage.room,Weight,Make
0,15.9,1.8,140,6300,13.2,5,177,68,37,26.5,11.000000,2705,Acura Integra
1,33.9,3.2,200,5500,18.0,5,195,71,38,30.0,15.000000,3560,Acura Legend
2,29.1,2.8,172,5500,16.9,5,180,67,37,28.0,14.000000,3375,Audi 90
3,37.7,2.8,172,5500,21.1,6,193,70,37,31.0,17.000000,3405,Audi 100
4,30.0,3.5,208,5700,21.1,4,186,69,39,27.0,13.000000,3640,BMW 535i
...,...,...,...,...,...,...,...,...,...,...,...,...,...
88,19.7,2.5,109,4500,21.1,7,187,72,38,34.0,13.890244,3960,Volkswagen Eurovan
89,20.0,2.0,134,5800,18.5,5,180,67,35,31.5,14.000000,2985,Volkswagen Passat
90,23.3,2.8,178,5800,18.5,4,159,66,36,26.0,15.000000,2810,Volkswagen Corrado
91,22.7,2.3,114,5400,15.8,5,190,67,37,29.5,14.000000,2985,Volvo 240
92,26.7,2.4,168,6200,19.3,5,184,69,38,30.0,15.000000,3245,Volvo 850

In [ ]:
df.columns

Index(['Price', 'EngineSize', 'Horsepower', 'RPM', 'Fuel.tank.capacity',
       'Passengers', 'Length', 'Width', 'Turn.circle', 'Rear.seat.room',
       'Luggage.room', 'Weight', 'Make'],
      dtype='object')

In [ ]:
X  = df[['Price', 'EngineSize', 'Horsepower', 'RPM', 'Fuel.tank.capacity',
       'Passengers', 'Length', 'Width', 'Turn.circle', 'Rear.seat.room',
       'Luggage.room', 'Weight', 'Make', 'type_Compact', 'type_Large',
       'type_Midsize', 'type_Small', 'type_Sporty', 'type_Van',
       'DriveTrain_4WD', 'DriveTrain_Front', 'DriveTrain_Rear',
       'Man.trans.avail_No', 'Man.trans.avail_Yes', 'Origin_USA',
       'Origin_non-USA', 'AirBags_Driver & Passenger', 'AirBags_Driver only',
       'AirBags_None', 'Manufacturer_Acura', 'Manufacturer_Audi',
       'Manufacturer_BMW', 'Manufacturer_Buick', 'Manufacturer_Cadillac',
       'Manufacturer_Chevrolet', 'Manufacturer_Chrylser',
       'Manufacturer_Chrysler', 'Manufacturer_Dodge', 'Manufacturer_Eagle',
       'Manufacturer_Ford', 'Manufacturer_Geo', 'Manufacturer_Honda',
       'Manufacturer_Hyundai', 'Manufacturer_Infiniti', 'Manufacturer_Lexus',
       'Manufacturer_Lincoln', 'Manufacturer_Mazda',
       'Manufacturer_Mercedes-Benz', 'Manufacturer_Mercury',
       'Manufacturer_Mitsubishi', 'Manufacturer_Nissan',
       'Manufacturer_Oldsmobile', 'Manufacturer_Plymouth',
       'Manufacturer_Pontiac', 'Manufacturer_Saab', 'Manufacturer_Saturn',
       'Manufacturer_Subaru', 'Manufacturer_Suzuki', 'Manufacturer_Toyota',
       'Manufacturer_Volkswagen', 'Manufacturer_Volvo', 'Cylinders_3',
       'Cylinders_4', 'Cylinders_5', 'Cylinders_6', 'Cylinders_8',
       'Cylinders_rotary']]

KeyError: "['type_Compact', 'type_Large', 'type_Midsize', 'type_Small', 'type_Sporty', 'type_Van', 'DriveTrain_4WD', 'DriveTrain_Front', 'DriveTrain_Rear', 'Man.trans.avail_No', 'Man.trans.avail_Yes', 'Origin_USA', 'Origin_non-USA', 'AirBags_Driver & Passenger', 'AirBags_Driver only', 'AirBags_None', 'Manufacturer_Acura', 'Manufacturer_Audi', 'Manufacturer_BMW', 'Manufacturer_Buick', 'Manufacturer_Cadillac', 'Manufacturer_Chevrolet', 'Manufacturer_Chrylser', 'Manufacturer_Chrysler', 'Manufacturer_Dodge', 'Manufacturer_Eagle', 'Manufacturer_Ford', 'Manufacturer_Geo', 'Manufacturer_Honda', 'Manufacturer_Hyundai', 'Manufacturer_Infiniti', 'Manufacturer_Lexus', 'Manufacturer_Lincoln', 'Manufacturer_Mazda', 'Manufacturer_Mercedes-Benz', 'Manufacturer_Mercury', 'Manufacturer_Mitsubishi', 'Manufacturer_Nissan', 'Manufacturer_Oldsmobile', 'Manufacturer_Plymouth', 'Manufacturer_Pontiac', 'Manufacturer_Saab', 'Manufacturer_Saturn', 'Manufacturer_Subaru', 'Manufacturer_Suzuki', 'Manufacturer_Toyota', 'Manufacturer_Volkswagen', 'Manufacturer_Volvo', 'Cylinders_3', 'Cylinders_4', 'Cylinders_5', 'Cylinders_6', 'Cylinders_8', 'Cylinders_rotary'] not in index"

In [ ]:
from sklearn import tree

In [ ]:
dtree = tree.DecisionTreeClassifier()

In [ ]:
dtree.fit(X,y)

In [ ]:
dtree.score(X,y)