In [2]:
import pandas as pd
from sklearn import tree
import numpy as np
from sklearn.tree import DecisionTreeRegressor

In [4]:
df = pd.read_csv('../Becca_space/data/Cars93.csv')
df.head()

,Unnamed: 0,Manufacturer,Model,Type,Min.Price,Price,Max.Price,MPG.city,MPG.highway,AirBags,...,Passengers,Length,Wheelbase,Width,Turn.circle,Rear.seat.room,Luggage.room,Weight,Origin,Make
0,1,Acura,Integra,Small,12.9,15.9,18.8,25,31,None,...,5,177,102,68,37,26.5,11.0,2705,non-USA,Acura Integra
1,2,Acura,Legend,Midsize,29.2,33.9,38.7,18,25,Driver & Passenger,...,5,195,115,71,38,30.0,15.0,3560,non-USA,Acura Legend
2,3,Audi,90,Compact,25.9,29.1,32.3,20,26,Driver only,...,5,180,102,67,37,28.0,14.0,3375,non-USA,Audi 90
3,4,Audi,100,Midsize,30.8,37.7,44.6,19,26,Driver & Passenger,...,6,193,106,70,37,31.0,17.0,3405,non-USA,Audi 100
4,5,BMW,535i,Midsize,23.7,30.0,36.2,22,30,Driver only,...,4,186,109,69,39,27.0,13.0,3640,non-USA,BMW 535i

In [5]:
#what do we want to predict
#price
car_price = df['Price']
df.drop('Price',inplace =True,axis='columns')

In [6]:
df.head()

,Unnamed: 0,Manufacturer,Model,Type,Min.Price,Max.Price,MPG.city,MPG.highway,AirBags,DriveTrain,...,Passengers,Length,Wheelbase,Width,Turn.circle,Rear.seat.room,Luggage.room,Weight,Origin,Make
0,1,Acura,Integra,Small,12.9,18.8,25,31,None,Front,...,5,177,102,68,37,26.5,11.0,2705,non-USA,Acura Integra
1,2,Acura,Legend,Midsize,29.2,38.7,18,25,Driver & Passenger,Front,...,5,195,115,71,38,30.0,15.0,3560,non-USA,Acura Legend
2,3,Audi,90,Compact,25.9,32.3,20,26,Driver only,Front,...,5,180,102,67,37,28.0,14.0,3375,non-USA,Audi 90
3,4,Audi,100,Midsize,30.8,44.6,19,26,Driver & Passenger,Front,...,6,193,106,70,37,31.0,17.0,3405,non-USA,Audi 100
4,5,BMW,535i,Midsize,23.7,36.2,22,30,Driver only,Rear,...,4,186,109,69,39,27.0,13.0,3640,non-USA,BMW 535i

In [7]:
df.isna().sum()

Unnamed: 0             0
Manufacturer           0
Model                  0
Type                   0
Min.Price              0
Max.Price              0
MPG.city               0
MPG.highway            0
AirBags                0
DriveTrain             0
Cylinders              0
EngineSize             0
Horsepower             0
RPM                    0
Rev.per.mile           0
Man.trans.avail        0
Fuel.tank.capacity     0
Passengers             0
Length                 0
Wheelbase              0
Width                  0
Turn.circle            0
Rear.seat.room         2
Luggage.room          11
Weight                 0
Origin                 0
Make                   0
dtype: int64

#Practice

In [8]:
df.Type.value_counts()

Midsize    22
Small      21
Compact    16
Sporty     14
Large      11
Van         9
Name: Type, dtype: int64

In [9]:
type = df.Type

In [10]:
type

0       Small
1     Midsize
2     Compact
3     Midsize
4     Midsize
       ...
88        Van
89    Compact
90     Sporty
91    Compact
92    Midsize
Name: Type, Length: 93, dtype: object

In [11]:
pd.get_dummies(type)

    Compact  Large  Midsize  Small  Sporty  Van
0         0      0        0      1       0    0
1         0      0        1      0       0    0
2         1      0        0      0       0    0
3         0      0        1      0       0    0
4         0      0        1      0       0    0
..      ...    ...      ...    ...     ...  ...
88        0      0        0      0       0    1
89        1      0        0      0       0    0
90        0      0        0      0       1    0
91        1      0        0      0       0    0
92        0      0        1      0       0    0

[93 rows x 6 columns]

In [13]:
df = pd.get_dummies(df, columns=['Type'], prefix='type')

In [14]:
df

,Unnamed: 0,Manufacturer,Model,Min.Price,Max.Price,MPG.city,MPG.highway,AirBags,DriveTrain,Cylinders,...,Luggage.room,Weight,Origin,Make,type_Compact,type_Large,type_Midsize,type_Small,type_Sporty,type_Van
0,1,Acura,Integra,12.9,18.8,25,31,None,Front,4,...,11.0,2705,non-USA,Acura Integra,0,0,0,1,0,0
1,2,Acura,Legend,29.2,38.7,18,25,Driver & Passenger,Front,6,...,15.0,3560,non-USA,Acura Legend,0,0,1,0,0,0
2,3,Audi,90,25.9,32.3,20,26,Driver only,Front,6,...,14.0,3375,non-USA,Audi 90,1,0,0,0,0,0
3,4,Audi,100,30.8,44.6,19,26,Driver & Passenger,Front,6,...,17.0,3405,non-USA,Audi 100,0,0,1,0,0,0
4,5,BMW,535i,23.7,36.2,22,30,Driver only,Rear,4,...,13.0,3640,non-USA,BMW 535i,0,0,1,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
88,89,Volkswagen,Eurovan,16.6,22.7,17,21,None,Front,5,...,NaN,3960,non-USA,Volkswagen Eurovan,0,0,0,0,0,1
89,90,Volkswagen,Passat,17.6,22.4,21,30,None,Front,4,...,14.0,2985,non-USA,Volkswagen Passat,1,0,0,0,0,0
90,91,Volkswagen,Corrado,22.9,23.7,18,25,None,Front,6,...,15.0,2810,non-USA,Volkswagen Corrado,0,0,0,0,1,0
91,92,Volvo,240,21.8,23.5,21,28,Driver only,Rear,4,...,14.0,2985,non-USA,Volvo 240,1,0,0,0,0,0
92,93,Volvo,850,24.8,28.5,20,28,Driver & Passenger,Front,5,...,15.0,3245,non-USA,Volvo 850,0,0,1,0,0,0

In [17]:
df.columns

Index(['Unnamed: 0', 'Manufacturer', 'Model', 'Min.Price', 'Max.Price',
       'MPG.city', 'MPG.highway', 'AirBags', 'DriveTrain', 'Cylinders',
       'EngineSize', 'Horsepower', 'RPM', 'Rev.per.mile', 'Man.trans.avail',
       'Fuel.tank.capacity', 'Passengers', 'Length', 'Wheelbase', 'Width',
       'Turn.circle', 'Rear.seat.room', 'Luggage.room', 'Weight', 'Origin',
       'Make', 'type_Compact', 'type_Large', 'type_Midsize', 'type_Small',
       'type_Sporty', 'type_Van'],
      dtype='object')

##to-do
#DriveTrain
#Man.trans.avail
#Origin
#Manufacturer
#AirBags
#DONE


#drop column Unnamed: 0
#drop Make, Model, Min.Price, Max.Price, MPG.highway



#df = pd.get_dummies(df, columns=[''], dummy_na=True)
#do this for 'Rear.seat.room' and 'Luggage.room'

In [39]:
df = pd.get_dummies(df, columns=['DriveTrain'])

In [42]:
df = pd.get_dummies(df, columns=['Man.trans.avail'])

In [44]:
df = pd.get_dummies(df, columns=['Origin'])

In [46]:
df = pd.get_dummies(df, columns=['AirBags'])

In [48]:
df = pd.get_dummies(df, columns=['Manufacturer'])

In [49]:
df.columns

Index(['Unnamed: 0', 'Model', 'Min.Price', 'Max.Price', 'MPG.city',
       'MPG.highway', 'Cylinders', 'EngineSize', 'Horsepower', 'RPM',
       'Rev.per.mile', 'Fuel.tank.capacity', 'Passengers', 'Length',
       'Wheelbase', 'Width', 'Turn.circle', 'Rear.seat.room', 'Luggage.room',
       'Weight', 'Make', 'type_Compact', 'type_Large', 'type_Midsize',
       'type_Small', 'type_Sporty', 'type_Van', 'DriveTrain_4WD',
       'DriveTrain_Front', 'DriveTrain_Rear', 'Man.trans.avail_No',
       'Man.trans.avail_Yes', 'Origin_USA', 'Origin_non-USA',
       'AirBags_Driver & Passenger', 'AirBags_Driver only', 'AirBags_None',
       'Manufacturer_Acura', 'Manufacturer_Audi', 'Manufacturer_BMW',
       'Manufacturer_Buick', 'Manufacturer_Cadillac', 'Manufacturer_Chevrolet',
       'Manufacturer_Chrylser', 'Manufacturer_Chrysler', 'Manufacturer_Dodge',
       'Manufacturer_Eagle', 'Manufacturer_Ford', 'Manufacturer_Geo',
       'Manufacturer_Honda', 'Manufacturer_Hyundai', 'Manufacturer_Infiniti',
       'Manufacturer_Lexus', 'Manufacturer_Lincoln', 'Manufacturer_Mazda',
       'Manufacturer_Mercedes-Benz', 'Manufacturer_Mercury',
       'Manufacturer_Mitsubishi', 'Manufacturer_Nissan',
       'Manufacturer_Oldsmobile', 'Manufacturer_Plymouth',
       'Manufacturer_Pontiac', 'Manufacturer_Saab', 'Manufacturer_Saturn',
       'Manufacturer_Subaru', 'Manufacturer_Suzuki', 'Manufacturer_Toyota',
       'Manufacturer_Volkswagen', 'Manufacturer_Volvo'],
      dtype='object')

In [51]:
df.drop('Unnamed: 0', inplace =True,axis='columns')
#drop column Unnamed: 0

In [ ]:
#drop Make, Model, Min.Price, Max.Price??

In [52]:
df

,Model,Min.Price,Max.Price,MPG.city,MPG.highway,Cylinders,EngineSize,Horsepower,RPM,Rev.per.mile,...,Manufacturer_Oldsmobile,Manufacturer_Plymouth,Manufacturer_Pontiac,Manufacturer_Saab,Manufacturer_Saturn,Manufacturer_Subaru,Manufacturer_Suzuki,Manufacturer_Toyota,Manufacturer_Volkswagen,Manufacturer_Volvo
0,Integra,12.9,18.8,25,31,4,1.8,140,6300,2890,...,0,0,0,0,0,0,0,0,0,0
1,Legend,29.2,38.7,18,25,6,3.2,200,5500,2335,...,0,0,0,0,0,0,0,0,0,0
2,90,25.9,32.3,20,26,6,2.8,172,5500,2280,...,0,0,0,0,0,0,0,0,0,0
3,100,30.8,44.6,19,26,6,2.8,172,5500,2535,...,0,0,0,0,0,0,0,0,0,0
4,535i,23.7,36.2,22,30,4,3.5,208,5700,2545,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
88,Eurovan,16.6,22.7,17,21,5,2.5,109,4500,2915,...,0,0,0,0,0,0,0,0,1,0
89,Passat,17.6,22.4,21,30,4,2.0,134,5800,2685,...,0,0,0,0,0,0,0,0,1,0
90,Corrado,22.9,23.7,18,25,6,2.8,178,5800,2385,...,0,0,0,0,0,0,0,0,1,0
91,240,21.8,23.5,21,28,4,2.3,114,5400,2215,...,0,0,0,0,0,0,0,0,0,1
92,850,24.8,28.5,20,28,5,2.4,168,6200,2310,...,0,0,0,0,0,0,0,0,0,1

In [54]:
df.columns

Index(['Model', 'Min.Price', 'Max.Price', 'MPG.city', 'MPG.highway',
       'Cylinders', 'EngineSize', 'Horsepower', 'RPM', 'Rev.per.mile',
       'Fuel.tank.capacity', 'Passengers', 'Length', 'Wheelbase', 'Width',
       'Turn.circle', 'Rear.seat.room', 'Luggage.room', 'Weight', 'Make',
       'type_Compact', 'type_Large', 'type_Midsize', 'type_Small',
       'type_Sporty', 'type_Van', 'DriveTrain_4WD', 'DriveTrain_Front',
       'DriveTrain_Rear', 'Man.trans.avail_No', 'Man.trans.avail_Yes',
       'Origin_USA', 'Origin_non-USA', 'AirBags_Driver & Passenger',
       'AirBags_Driver only', 'AirBags_None', 'Manufacturer_Acura',
       'Manufacturer_Audi', 'Manufacturer_BMW', 'Manufacturer_Buick',
       'Manufacturer_Cadillac', 'Manufacturer_Chevrolet',
       'Manufacturer_Chrylser', 'Manufacturer_Chrysler', 'Manufacturer_Dodge',
       'Manufacturer_Eagle', 'Manufacturer_Ford', 'Manufacturer_Geo',
       'Manufacturer_Honda', 'Manufacturer_Hyundai', 'Manufacturer_Infiniti',
       'Manufacturer_Lexus', 'Manufacturer_Lincoln', 'Manufacturer_Mazda',
       'Manufacturer_Mercedes-Benz', 'Manufacturer_Mercury',
       'Manufacturer_Mitsubishi', 'Manufacturer_Nissan',
       'Manufacturer_Oldsmobile', 'Manufacturer_Plymouth',
       'Manufacturer_Pontiac', 'Manufacturer_Saab', 'Manufacturer_Saturn',
       'Manufacturer_Subaru', 'Manufacturer_Suzuki', 'Manufacturer_Toyota',
       'Manufacturer_Volkswagen', 'Manufacturer_Volvo'],
      dtype='object')

In [61]:
X  = df[['MPG.city', 'MPG.highway',
       'Cylinders', 'EngineSize', 'Horsepower', 'RPM', 'Rev.per.mile',
       'Fuel.tank.capacity', 'Passengers', 'Length', 'Wheelbase', 'Width',
       'Turn.circle', 'Rear.seat.room', 'Luggage.room', 'Weight',
       'type_Compact', 'type_Large', 'type_Midsize', 'type_Small',
       'type_Sporty', 'type_Van', 'DriveTrain_4WD', 'DriveTrain_Front',
       'DriveTrain_Rear', 'Man.trans.avail_No', 'Man.trans.avail_Yes',
       'Origin_USA', 'Origin_non-USA', 'AirBags_Driver & Passenger',
       'AirBags_Driver only', 'AirBags_None', 'Manufacturer_Acura',
       'Manufacturer_Audi', 'Manufacturer_BMW', 'Manufacturer_Buick',
       'Manufacturer_Cadillac', 'Manufacturer_Chevrolet',
       'Manufacturer_Chrylser', 'Manufacturer_Chrysler', 'Manufacturer_Dodge',
       'Manufacturer_Eagle', 'Manufacturer_Ford', 'Manufacturer_Geo',
       'Manufacturer_Honda', 'Manufacturer_Hyundai', 'Manufacturer_Infiniti',
       'Manufacturer_Lexus', 'Manufacturer_Lincoln', 'Manufacturer_Mazda',
       'Manufacturer_Mercedes-Benz', 'Manufacturer_Mercury',
       'Manufacturer_Mitsubishi', 'Manufacturer_Nissan',
       'Manufacturer_Oldsmobile', 'Manufacturer_Plymouth',
       'Manufacturer_Pontiac', 'Manufacturer_Saab', 'Manufacturer_Saturn',
       'Manufacturer_Subaru', 'Manufacturer_Suzuki', 'Manufacturer_Toyota',
       'Manufacturer_Volkswagen', 'Manufacturer_Volvo']]
y = car_price

In [62]:
dtree = DecisionTreeRegressor()

In [63]:
dtree.fit(X,y)

ValueError: could not convert string to float: 'rotary'

In [40]:
dtree.score(X,y)

1.0